.bottom
	display block
	margin-top 76px
	margin-left -1px
	margin-bottom 60px

	&__title
		margin-right 21px
		display inline-block
		font-size 22px
		font-weight 700
		line-height 50px
		color #2f1b15

	&__date
		padding 0 19px 7px 9px
		width 700px
		height 9px
		font-family 'Courier New PSMT'
		font-size 30px
		font-weight 400
		line-height 36px
		color #231f20
		background url('../../assets/images/string.png') center no-repeat
		background-position-y bottom
		position relative
		top -14px
