.bottom
	margin 76px 0 0 -1px
	display block

	&__title
		margin-right 21px
		display inline-block
		title-font()
		font-size 22px

	&__date
		position relative
		top -14px
		padding 0 19px 7px 9px
		width 700px
		height 9px
		font-family 'Courier New PSMT'
		font-size 30px
		font-weight 400
		line-height 36px
		color #231f20
		background url('../../assets/images/string.png') center no-repeat
		background-position-y bottom
