mixin input-radio()
	+b.input-radio&attributes(attributes)
		block
mixin inputRadio(text, nameInput, isChecked)
	label(class="input-radio__label")
		input(class="input-radio__input" type="radio" name=nameInput value=text checked=isChecked)
		span(class="input-radio__checked-img")
	div(class="input-radio__item-text")=text
