mixin content()
	+b.content&attributes(attributes)
		block
div(class="content")
	include ../header/header
	include ../person-data/person-data
	include ../skills/skills
	include ../about-me/about-me
	include ../future/future
	include  ../bottom/bottom
