mixin content()
	+b.content&attributes(attributes)
		block
div(class="content")
	header
		include ../header/header
	main
		section
			include ../person-data/person-data
		section
			include ../skills/skills
		section
			include ../slide/slide
		section
			include ../about-me/about-me
		section
			include ../future/future
	bottom
		include  ../bottom/bottom
