.header
	position relative
	margin-bottom 51px

	&__logo
		margin-top 15px
		display inline-block
		width 154px
		height 52px
		background url('../../assets/images/logo.png') no-repeat

	&__stamp
		position absolute
		right 54px
		display inline-block
		width 252px
		height 106px
		background url('../../assets/images/stamp.png') no-repeat

	&__title
		margin-top 40px
		margin-left 246px
		width 221px
		height 118px
		background url('../../assets/images/title_header.png') no-repeat
