.about-me
	margin 18px 0 0 1px
	display block

	&__title
		title-font()

	&__text
		margin 0 115px 0 2px
		text-font()

	&__textarea
		margin-top 23px
		padding-left 2px
		overflow hidden
		width 774px
		input-font()
		line-height 60px
		background url('../../assets/images/textarea_ground.png') center
		background-position-x -5px
		background-position-y 20px
		border none
