.about-me
	display block

	&__title
		font-size 24px
		font-weight 700
		line-height 50px
		color #2f1b15

	&__text
		margin-right 115px
		font-size 15px
		font-weight 400
		line-height 23px
		color #3d3d3d

	&__textarea
		padding-left 5px
		width 774px
		height auto
		font-family 'Courier New PSMT'
		font-size 30px
		font-weight 400
		line-height 60px
		color #231f20
		background url('../../assets/images/textarea_ground.png') center
		background-position-y 28px
		border none
		overflow hidden

