.about-me
	display block
	margin-top 18px
	margin-left 1px

	&__title
		font-size 24px
		font-weight 700
		line-height 50px
		color #2f1b15

	&__text
		margin-left 2px
		margin-right 115px
		font-size 15px
		font-weight 400
		line-height 23px
		color #3d3d3d

	&__textarea
		margin-top 23px
		padding-left 2px
		width 774px
		font-family 'Courier New PSMT'
		font-size 30px
		font-weight 400
		line-height 60px
		color #231f20
		background url('../../assets/images/textarea_ground.png') center
		background-position-x -5px
		background-position-y 20px
		border none
		overflow hidden

