mixin slide()
	+b.slide&attributes(attributes)
		block
div(class="slide")
	h2(class="slide__title") Уровень владения JavaScript
	input(type="range" min="0" max="100" value="49" step="1" class="slide__input")
	span(class="slide__scale-text slide__scale-text_one") Не владею
	span(class="slide__scale-text slide__scale-text_two") Использую готовые решения
	span(class="slide__scale-text slide__scale-text_tree") Использую готовые решения и умею их переделывать
	span(class="slide__scale-text slide__scale-text_four") Пишу сложный JS с нуля
