.slide
	margin-top 48px
	margin-left 1px
	display block

	&__title
		title-font()

	input-range-track()
		position relative
		top 3px
		left -5px
		width 780px
		height 60px
		cursor pointer
		background url('../../assets/images/scale.png') no-repeat left

	input-range-thumb()
		width 17px
		height 14px
		background url('../../assets/images/thumb.png') no-repeat

	&__input
		input-range-track()

	&__input[type='range']
		-webkit-appearance none

		&::-webkit-slider-thumb
			input-range-thumb()
			position relative
			top -14px
			-webkit-appearance none

		&::-moz-range-track
			input-range-track()
			display block

		&::-moz-range-thumb
			input-range-thumb()
			transform translateY(-15px)
			border none

		&::-moz-focus-outer, &::-moz-focus-inner
			padding 0
			border none

		&::-ms-fill-lower, &::-ms-fill-upper
			background transparent

		&::-ms-track
			input-range-track()
			color transparent
			border-color transparent

		&::-ms-thumb
			input-range-thumb()
			margin-bottom 30px
			color transparent
			border-color transparent

	&__scale-text
		display inline-block
		font-size 13px
		font-weight 700
		line-height 19px
		vertical-align top
		color $title-color

		&_one
			width 144px

		&_two
			width 227px

		&_tree
			width 170px

		&_four
			width 228px
			text-align right

