.person-data
	display block
	margin-top 59px

	&__item
		margin-right 117px
		margin-top 13px
		display flex

	&__label
		margin-right 16px
		font-size 22px
		font-weight 700
		line-height 49.83px
		flex none

	&__input
		padding-left 15px
		font-family 'Courier New PSMT'
		font-size 30px
		font-weight 400
		line-height 36px
		color #231f20
		background url('../../assets/images/string.png') center no-repeat
		background-position-y bottom
		flex 1
		border none
		padding-bottom 17px
		height 38px
