.person-data
	display block

	&__item
		margin-right 117px
		display flex

	&__label
		margin-right 16px
		font-family 'PT Sans'
		font-size 22px
		font-weight 700
		line-height 50px
		color #2f1b15
		flex none

	&__input
		margin-bottom 10px
		padding-left 18px
		font-family 'Courier New PSMT'
		font-size 30px
		font-weight 400
		line-height 36px
		color #231f20
		background url('../../assets/images/string.png') center no-repeat
		background-position-y bottom
		flex 1
		border none
