mixin person-data()
	+b.person-data&attributes(attributes)
		block
include ../input-text/input-text
div(class="person-data")
	+input-text('text', 'Полное ФИО', 'fullName', 'Лещенко Алексей Мурадович')
	+input-text('number', 'Год рождения', 'year', '1984')
	+input-text('text', 'Место жительства', 'address', 'г. Волгодонск, Россия')
	+input-text('text', 'Скайп', 'skype', 'freemanlexx')
	+input-text('text', 'Почта', 'email', 'le2x@rambler.ru')
