.skills
	margin-top 41px
	margin-right 115px
	margin-left -1px
	display block
	user-select none

	&__title
		title-font()

	&__text
		margin-top -3px
		text-font()

	&__items
		margin-top 18px
		display inline-block
		width 254px
		vertical-align top
