mixin skills()
	+b.skills&attributes(attributes)
		block
div(class="skills")
	h3(class="skills__title") Расскажите о себе чекбоксами
	p(class="skills__text")
		| Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что
		| у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с
		| которыми гарантировано будете справляться.
	div(class="skills__items")
		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills" checked="checked")
				span(class="skills__checked-img")
			div(class="skills__item-text") БЭМ/OOCSS

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills" checked="checked")
				span(class="skills__checked-img")
			div(class="skills__item-text") Pug (Jade)

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills" checked="checked")
				span(class="skills__checked-img")
			div(class="skills__item-text") Stylus/LESS/SASS

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills")
				span(class="skills__checked-img")
			div(class="skills__item-text") Работаю с SVG

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills" checked="checked")
				span(class="skills__checked-img")
			div(class="skills__item-text") Верстаю семантично

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills")
				span(class="skills__checked-img")
			div(class="skills__item-text") Accessibility (A11Y)

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills" checked="checked")
				span(class="skills__checked-img")
			div(class="skills__item-text") ES2015/ES2016

	div(class="skills__items")
		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills" checked="checked")
				span(class="skills__checked-img")
			div(class="skills__item-text") Gulp/GRUNT

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills" checked="checked")
				span(class="skills__checked-img")
			div(class="skills__item-text") Webpack

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills")
				span(class="skills__checked-img")
			div(class="skills__item-text") Дружу с WebGL

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills" checked="checked")
				span(class="skills__checked-img")
			div(class="skills__item-text") jQuery

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills" checked="checked")
				span(class="skills__checked-img")
			div(class="skills__item-text") Знаю/изучаю Angular

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills")
				span(class="skills__checked-img")
			div(class="skills__item-text") Знаю/изучаю React

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills" checked="checked")
				span(class="skills__checked-img")
			div(class="skills__item-text") Знаю/изучаю Node.js

	div(class="skills__items")
		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills" checked="checked")
				span(class="skills__checked-img")
			div(class="skills__item-text") Использую Git

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills" checked="checked")
				span(class="skills__checked-img")
			div(class="skills__item-text") С глазомером всё ок

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills")
				span(class="skills__checked-img")
			div(class="skills__item-text") Читаю blog.csssr.ru

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills" checked="checked")
				span(class="skills__checked-img")
			div(class="skills__item-text") Я ленивый(-ая)

		div(class="skills__item")
			label(class="skills__label")
				input(class="skills__input" type="checkbox" name="skills")
				span(class="skills__checked-img")
			div(class="skills__item-text") У меня хороший английский

