mixin skills()
	+b.skills&attributes(attributes)
		block
include ../input-checkbox/input-checkbox

div(class="skills")
	h2(class="skills__title") Расскажите о себе чекбоксами
	p(class="skills__text")
		| Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что
		| у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с
		| которыми гарантировано будете справляться.
	div(class="skills__items")
		+inputCheckbox('БЭМ/OOCSS', 'skills', true)
		+inputCheckbox('Pug (Jade)', 'skills', true)
		+inputCheckbox('Stylus/LESS/SASS', 'skills', true)
		+inputCheckbox('Работаю с SVG', 'skills', false)
		+inputCheckbox('Верстаю семантично', 'skills', true)
		+inputCheckbox('Accessibility (A11Y)', 'skills', false)
		+inputCheckbox('ES2015/ES2016', 'skills', true)

	div(class="skills__items")
		+inputCheckbox('Gulp/GRUNT', 'skills', true)
		+inputCheckbox('Webpack', 'skills', true)
		+inputCheckbox('Дружу с WebGL', 'skills', false)
		+inputCheckbox('jQuery', 'skills', false)
		+inputCheckbox('Знаю/изучаю Angular', 'skills', true)
		+inputCheckbox('Знаю/изучаю React', 'skills', false)
		+inputCheckbox('Знаю/изучаю Node.js', 'skills', true)

	div(class="skills__items")
		+inputCheckbox('Использую Git', 'skills', true)
		+inputCheckbox('С глазомером всё ок', 'skills', true)
		+inputCheckbox('Читаю', 'skills', true, {url: 'http://blog.csssr.ru', text: 'blog.csssr.ru'})
		+inputCheckbox('Я ленивый(-ая)', 'skills', true)
		+inputCheckbox('У меня хороший английский', 'skills', false)
