.skills
	margin-top 41px
	margin-right 115px
	margin-left -1px
	display block
	user-select none

	&__title
		title-font()

	&__text
		margin-top -3px
		text-font()

	&__items
		margin-top 18px
		display inline-block
		width 254px
		vertical-align top

	&__item
		margin-top 10px
		margin-left 1px

	&__item-text
		margin-left 8px
		display inline-block
		width 200px
		font-size 21px
		font-weight 700
		line-height 25px
		vertical-align top
		user-select none
		color $black-color

		&_url
			display inline
			color $url-color
			text-decoration underline

	&__label
		position relative
		margin-top 4px
		display inline-block
		width 19px
		height 18px
		vertical-align top
		cursor pointer
		background  url('../../assets/images/checkbox.png') no-repeat

		& input:checked ~ .skills__checked-img
			display block

	&__input
		display none

	&__checked-img
		position absolute
		left 3px
		bottom 1px
		margin auto
		display none
		width 21px
		height 27px
		background url('../../assets/images/checked.png')
